# General
.DS_Store
.vscode/

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Distribution / Build
build/
dist/
*.egg-info/

# Testing / Caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Project Specific
/images
/temp_table